body,html{
    height: 100%;
    width: 100%;
    margin: 0;
box-sizing: border-box;
  }
  .part-1{
  background-image: url("new\ space.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Russo One', sans-serif;
  position: relative;
  margin-top: 75px;
        }
  .Heading{
      font-size: 50px;
     
  }
  .sub_text{
      position: relative;
      font-size: 20px;
  }
  .About{
      margin-top: 50px;
      margin-bottom: 50px;
  }
  .about_content{
      margin-top: 10px;
  }
  .gallery{
      display: flex;
  }
  .info{
      height: 250px;
  }
  .components{
      padding-top: 40px;
  }
  .head{
      padding-top: 20px;
  }
  .info{
     background-image: url("new\ space.jpg");
     font-family: 'Russo One', sans-serif;
  }
  .pic{
    transition: 0.2s ease-in-out;
  }
  .pic:hover {
      transform: scale(1.04);
      box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.3);
      transition: 0.2s ease-in-out;
    }
  .Name, .Branch, .prn,.mail,.Submit{
    margin:auto;
  }
  .role{
    width: 50%;
    margin: auto;
  }
  .form{
   margin-bottom: 5px;
  }
  .footer{
    background-image: url("new\ space.jpg");
  }
  .contact{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .pic2{
    padding-top: 90px;
  }
  
